<%= form_for @task, method: :delete do |t|  %>

  <%= t.label :title %>
  <%= t.text_field :title %>
  </br>
  </br>
  <%= t.label :name %>
  <%= t.text_field :name%>
  </br>
  </br>
  <%= t.label :description %>
  <%= t.text_field :description %>
  </br>
  </br>
  <%= t.label :completion_status %>
  <%= t.text_field :completion_status %>
  </br>
  </br>
  <%= t.label :completed_at %>
  <%= t.text_field :completed_at %>
  </br>
  </br>

  <p> If you want to delete this record, press Submit</p>

  <%= t.submit "Submit" %>

<% end %>
