<h2>THIS IS MY TASK LIST</h2>

<%= link_to "Create a new Task entry here", tasks_new_path %>

<p>
  <% @tasks.each do |t| %>
  <h3><%= "Task #{t.id}: #{t.title}" %></h3>
  <li><%= link_to "Details", task_path(t.id) %></li>
  <li><%= link_to "Edit", task_edit_path(t) %></li>
  <li><%= link_to "Delete", task_delete_path(t) %></li>
  </br>
  <% end %>
</p>
