<h2>TASK <%= @task.id %></h2>

<p>
  <%= link_to "Return to Homepage", tasks_path %>
</p>

<p>
  <%= link_to "Edit this Task entry", task_edit_path %>
</p>

<p>
  <%= link_to "Delete this Task entry", task_delete_path %>
</p>

<ul>
  <li>ID: <%= @task.id %> </li>
  <li>Title: <%= @task.title %></li>
  <li>Description: <%= @task.description %></li>
  <li>Completion Status: <%= @task.completion_status %></li>
  <li>Completion Date: <%= @task.completed_at %></li>
</ul>
